body{
    background: #EEEEEE;
}
.header{
    margin-top: -20px;
}
.top{
    background: url("../images/bg.jpg");
    padding: 60px 0;
    color: #CCCCCC;
}
.top p{
    font-size: 18px;
}
.media h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media p{
    font-size: 13px;
}
blockquote{
    margin-top: 10px;
    font-weight: bolder;
}
.footer{
    text-align: center;
    color: #fff;
    padding: 30px 0;
    font-size: 12px;
    background: #666666;
}
.footer a,.footer a:hover{
    color: #fff;
    text-decoration: none;
}